/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
@font-face {
    font-family: 'Manrope';
    src: url('/src/assets/fonts/Manrope-ExtraLight.ttf') format('truetype');
}
@theme {
    --font-Manrope: 'Manrope', sans-serif;
}
 :root {
      --ion-font-family: 'Manrope', sans-serif; 
    }
 @import "tailwindcss";
 
  .btn{

     --padding-top:0.9rem;
    --padding-bottom: 0.9rem;
    --border-radius: 0.6rem;
  }
   
.no-highlight {
  --highlight-color-focused: ;
  --background :#F2F0F5;
    
     
}
.font_black{
   color: #121217;
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, Edge */
}

.no-scrollbar {
  -ms-overflow-style: none;  /* for Internet Explorer and Edge */
  scrollbar-width: none;     /* for Firefox */
}
.text_color {
  color: #120D1C;
 }
 .button_color{
  --background:#7847EB !important;
  
  color: #FAF7FC !important;
 
}

 .p_color{
  color:#634F96 !important;
 }